/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/.tmp.xml
/test.*
/a.*
/spec/assets/test*
/spec/assets/test/
/spec/assets/extract/

# rspec failure tracking
.rspec_status
.rubocop-https---raw-githubusercontent-com-riboseinc-oss-guides-master-ci-rubocop-yml
Gemfile.lock
relaton/
.vscode/

.rubocop-https--*
